* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
  margin: 60px;
}

input{
  width: 100%;
  font-size: 1.3rm;
  outline: none;
}

.card-grid{
  display: flex;
  flex-direction: rox;
  flex-wrap: wrap;
}
.card{
  align-content: center;
  border: 1px solid rgb(94, 202, 245);
  border-radius: 6px;
  margin: 10px;
  overflow:hidden;
}

.card p{
  padding: 5px;
  text-align: center;
}
.card img{
  max-width: 170px;
}